body {
  margin: 0;
  background-color: rgb(193, 236, 250);
}

/* head*/

header {
  background: linear-gradient(to right, #5bc6f0, #c9eff5);
  color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 4rem;
}

.nav-links {
  list-style: none;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  margin-left: 5rem;
}

/*media*/
@media screen and (max-width: 620px) {
  header,
  ul {
    flex-direction: column;
  }
}

/*main*/
main {
  padding-left: 6rem;
}
p {
  font-size: 24;
  margin: 2;
}
ul {
  list-style: none;
}

footer {
  padding-left: 6rem;
}
