* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(193, 236, 250);
}

/* head*/

header {
  background: linear-gradient(to right, #5bc6f0, #c9eff5);
  color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 4rem;
}

.nav-links {
  list-style: none;
  display: flex;

  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
li {
  margin-left: 5rem;
}
/*media*/
@media screen and (max-width: 620px) {
  header,
  ul {
    flex-direction: column;
  }
}

/* projects*/
main {
  padding-left: 6rem;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

figure {
  grid-area: img;
}

.category-image {
  width: 100%;
}
figcaption {
  text-transform: uppercase;
}

@media screen and (min-width: 490px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img img"
      "img img"
      "img img";
  }
}

/*darkmode and lightmodebuttons*/
#darkmode-button {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: darkblue;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;
}

#lightmode-button {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #5bc6f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;
}

/* forms*/
input[type="email"],
input[type="lastname"],
input[type="firstname"],
input[type="tel"] {
  width: 10rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
/* buttons*/
button {
  width: 10rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(111, 143, 182);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(28, 99, 187);
}
