header {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: larger;
  margin-top: 0;
}

li {
  margin-left: 5rem;
  margin-bottom: 0;
}

/*media*/
@media screen and (max-width: 500px) {
  header,
  ul {
    flex-direction: column;
  }
}

/* projects*/
main {
  padding-left: 6rem;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

figure {
  grid-area: img;
}

.category-image {
  width: 100%;
}
figcaption {
  text-transform: uppercase;
}

@media screen and (min-width: 490px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img img"
      "img img"
      "img img";
  }
}
